<div class="modal-header">
    <h3 class="modal-title">
        <span ng-hide="copdCtrl.updateMode">Nieuwe opdracht aanmaken</span>
        <span ng-show="copdCtrl.updateMode">Opdracht bijwerken</span>
    </h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="opdracht-projectcode">Locatie</label>
            <input type="text" class="form-control" id="opdracht-locatie" ng-model="copdCtrl.opdracht.locatie" placeholder="Locatie">
        </div>

        <div class="form-group">
            <label for="opdracht-startdatum">Tarief</label>
            <input type="text" class="form-control" id="opdracht-tarief" ng-model="copdCtrl.opdracht.tarief" placeholder="Tarief in munt eenheid">
        </div>

        <div class="form-group">
            <label for="opdracht-einddatum">Account manager</label>
            <input type="text" class="form-control" id="opdracht-account-manager" ng-model="copdCtrl.opdracht.accountManager" placeholder="Voornaam Achternaam">
        </div>
        <div class="dropdown">
            <label for="bestelbon-einddatum">StartDatum (dd/mm/yyyy)</label>
            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <input  type="text" class="form-control" data-ng-model="copdCtrl.opdracht.startDatum">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="copdCtrl.opdracht.startDatum" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day', modelType: 'DD/MM/YYYY'}"/>
            </ul>
        </div>
        <div class="dropdown">
            <label for="bestelbon-einddatum">Einddatum (dd/mm/yyyy)</label>
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <input  type="text" class="form-control" data-ng-model="ccopdCtrl.opdracht.deadline">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="ccopdCtrl.opdracht.deadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day', modelType: 'DD/MM/YYYY'}"/>
            </ul>
        </div>
        <!-- <div class="form-group">
            <label for="opdracht-startdatum">Begindatum (dd/mm/yyyy)</label>
            <input type="text" class="form-control" id="opdracht-startdatum" ng-model="copdCtrl.opdracht.startDatum" placeholder="Begin datum">
        </div>

        <div class="form-group">
            <label for="opdracht-einddatum">Deadline (dd/mm/yyyy)</label>
            <input type="text" class="form-control" id="opdracht-deadline" ng-model="copdCtrl.opdracht.deadline" placeholder="Eind datum">
        </div> -->

        <div class="form-group">
            <label for="opdracht-startdatum">Klant </label>
            <input type="text" class="form-control" id="opdracht-klant" ng-model="copdCtrl.opdracht.klant" placeholder="Bedrijfsnaam">
        </div>

        <div class="form-group">
            <label for="opdracht-einddatum">Info</label>
            <input type="text" class="form-control" id="opdracht-info" ng-model="copdCtrl.opdracht.info" placeholder="Extra info">
        </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="copdCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="copdCtrl.ok()">OK</button>
</div>
