<div class="modal-header">
    <h3 class="modal-title">
        <span ng-hide="cakkCtrl.updateMode">Nieuw akkoord aanmaken</span>
        <span ng-show="cakkCtrl.updateMode">Akkoord bijwerken</span>
    </h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="akkoord-projectcode">Project code</label>
            <input type="text" class="form-control" id="akkoord-projectcode" ng-model="cakkCtrl.akkoord.projectCode" placeholder="Project code">
        </div>
        <div class="form-group">
            <label for="akkoord-bezettinsgraad">Bezetting</label>
            <input type="text" class="form-control" id="akkoord-bezettingsgraad" ng-model="cakkCtrl.akkoord.bezettingsGraad" placeholder="In %">
        </div>

        <div class="form-group">
            <div class="btn-group" uib-dropdown is-open="status.isopen">
                <button id="akkoord-opdracht" type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    {{cakkCtrl.selectedOpdrachtLabel || "Kies een opdracht"}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="akkoord-opdracht">
                    <li role="menuitem" ng-repeat="opdracht in cakkCtrl.opdrachten"><a ng-click="cakkCtrl.selectOpdracht(opdracht)" href=""> {{opdracht.klant}} {{opdracht.locatie}} ({{opdracht.startDatum}}) </a></li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <div class="btn-group" uib-dropdown is-open="status.isopen2">
                <button id="akkoord-consultant" type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    {{cakkCtrl.selectedConsultantLabel || "Kies consultant"}}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="akkoord-consultant">
                    <li role="menuitem" ng-repeat="consultant in cakkCtrl.consultants"><a ng-click="cakkCtrl.selectConsultant(consultant)" href="">{{consultant.voorNaam}} {{consultant.familieNaam}}</a></li>
                </ul>
            </div>
        </div>

        <!-- <div class="form-group">
            <label for="akkoord-startdatum">Begindatum (dd/mm/yyyy)</label>
            <input type="text" class="form-control" id="akkoord-informeelstartdatum" ng-model="cakkCtrl.akkoord.informeelStartDatum" placeholder="Begindatum">
        </div> -->
        <!-- <div class="form-group">
            <label for="akkoord-einddatum">Einddatum (dd/mm/yyyy)</label>
            <input type="text" class="form-control" id="akkoord-informeeleinddatum" ng-model="cakkCtrl.akkoord.informeelEindDatum" placeholder="Einddatum">
        </div> -->
        <div class="dropdown">
            <label for="akkoord-startdatum">Begindatum (dd/mm/yyyy)</label>
            <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <input  type="text" class="form-control" data-ng-model="cakkCtrl.akkoord.informeelStartDatum">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="cakkCtrl.akkoord.informeelStartDatum" data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView:'day', minView:'day', modelType: 'DD/MM/YYYY'}"/>
            </ul>
        </div>
        <div class="dropdown">
            <label for="akkoord-startdatum">Einddatum (dd/mm/yyyy)</label>
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                <div class="input-group">
                    <input  type="text" class="form-control" data-ng-model="cakkCtrl.akkoord.informeelEindDatum">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="cakkCtrl.akkoord.informeelEindDatum" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day', modelType: 'DD/MM/YYYY'}"/>
            </ul>
        </div>


    </form>
</div

</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cakkCtrl.cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="cakkCtrl.ok()">OK</button>
</div>
