<h1>Akkoorden</h1>
<p>
    <a class="btn btn-sm btn-primary" href="" role="button" ng-click="akkoordCtrl.createNewAkkoord()">Akkoord aanmaken</a>
</p>

<p>Onderstaande akkoorden zijn gekend in het systeem:</p>

<table class="table table-hover">
    <tr>
        <th ng-click="akkoordCtrl.sortBy('consultant.voorNaam')">Consultant</th>
        <th>Project code</th>
        <th>Opdracht</th>
        <th>Bezetting</th>
        <th>Start datum</th>
        <th>Eind datum</th>
        <th>Acties</th>
    </tr>
    <tr ng-repeat="akkoord in akkoordCtrl.akkoorden | orderBy : ['consultant.voorNaam','consultant.familieNaam',-akkoordCtrl.dateSort] : reverse">
        <td><a href="#/bediendes/{{akkoord.consultant.id}}">{{akkoord.consultant.voorNaam}} {{akkoord.consultant.familieNaam}}</a></td>
        <td>{{akkoord.projectCode}}</td>
        <td>{{akkoord.opdracht.klant}} - {{akkoord.opdracht.locatie}} - {{akkoord.opdracht.info}}</td>
        <td>{{akkoord.bezettingsGraad}}</td>
        <td>{{akkoord.informeelStartDatum}}</td>
        <td>{{akkoord.informeelEindDatum}}</td>
        <td>
            <span style="cursor: pointer" class="glyphicon glyphicon-pencil" href="" ng-click="akkoordCtrl.editAkkoord(akkoord)"></span>
            <span style="cursor: pointer" class="glyphicon glyphicon-trash" href="" ng-click="akkoordCtrl.deleteAkkoord(akkoord.id)"></span>
        </td>
    </tr>
</table>
