<h1>Beheerders</h1>
<p>
    <a class="btn btn-sm btn-primary" href="" role="button" ng-click="userCtrl.createNewUser()">Beheerder aanmaken</a>
</p>

<p>Onderstaande beheerders zijn gekend in het systeem:</p>

<table class="table table-hover">
    <tr>
        <th>Gebruikers naam</th>
        <th>Email</th>
        <th>Rechten</th>
    </tr>
    <tr ng-repeat="user in userCtrl.users">
      <!--  <td><a href="#/beheerders/{{beheerder.id}}">{{beheerder.id}}</a></td> -->
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.authorities}}</td>
    
    </tr>
</table>
