<h1>Contracten</h1>

<p>
    <a class="btn btn-sm btn-primary" href="" role="button" ng-click="contractCtrl.createNewContract()">Contract aanmaken</a>
</p>
<p>Onderstaande contracten zijn gekend in het systeem:</p>

<table class="table table-hover">
    <tr>
        <th>Bediende</th>
        <th>Business unit</th>
        <th>Begindatum</th>
        <th>Einddatum</th>
        <th>Acties</th>
    </tr>
    <tr ng-repeat="aggregatedContract in contractCtrl.aggregatedContracts">
        <td><a href="#/bediendes/{{aggregatedContract.bediende.id}}">{{aggregatedContract.bediende.voorNaam}} {{aggregatedContract.bediende.familieNaam}}</a></td>
        <td><a href="#/business-units/{{aggregatedContract.contract.businessUnit.id}}">{{aggregatedContract.contract.businessUnit.naam}}</a></td>
        <td>{{aggregatedContract.contract.startDatum}}</td>
        <td>{{aggregatedContract.contract.eindDatum}}</td>
        <td>
            <span style="cursor: pointer" class="glyphicon glyphicon-pencil" href="" ng-click="contractCtrl.editContract(aggregatedContract.contract)"></span>
            <span style="cursor: pointer" class="glyphicon glyphicon-trash" href="" ng-click="contractCtrl.deleteContract(aggregatedContract.contract.id)"></span>
        </td>
    </tr>
</table>
