<h1>Opdrachten</h1>
<p>
    <a class="btn btn-sm btn-primary" href="" role="button" ng-click="opdrachtCtrl.createNewOpdracht()">Opdracht aanmaken</a>
</p>

<p>Onderstaande opdrachten zijn gekend in het systeem:</p>

<table class="table table-hover">
    <tr>
        <th ng-click="opdrachtCtrl.sortBy('klant')">Klant</th>
        <th>Locatie</th>
        <th>Indicatieve tarief</th>
        <th>Account manager</th>
        <th ng-click="opdrachtCtrl.sortBy('startDatum')">Startdatum</th>
        <th>Einddatum</th>
        <th>Info</th>
        <th>Acties</th>
    </tr>
    <tr ng-repeat="opdracht in opdrachtCtrl.opdrachten | orderBy:propertyName:reverse">
        <td>{{opdracht.klant}}</td>
        <td>{{opdracht.locatie}}</td>
        <td>{{opdracht.tarief}}</td>
        <td>{{opdracht.accountManager}}</td>
        <td>{{opdracht.startDatum}}</td>
        <td>{{opdracht.deadline}}</td>
        <td>{{opdracht.info}}</td>
        <td>
            <span style="cursor: pointer" class="glyphicon glyphicon-pencil" href="" ng-click="opdrachtCtrl.editOpdracht(opdracht)"></span>
            <span style="cursor: pointer" class="glyphicon glyphicon-trash" href="" ng-click="opdrachtCtrl.deleteOpdracht(opdracht.id)"></span>
        </td>
    </tr>
</table>
