<h1>Planning</h1>

<p>Onderstaande planningen zijn gekend in het systeem:</p>

<div ng-repeat="aggregatedConsultant in planningCtrl.aggregatedConsultants">

    <table class="table table-hover" >
        <tr>
            <th>Naam</th>
            <th>Voornaam</th>
            <th>Contract</th>
            <th>Business unit </th>
            <th>Project </th>
            <th>Klant</th>
            <th>Van</th>
            <th>Tot</th>
        </tr>
        <tr>
            <td>{{aggregatedConsultant.consultant.familieNaam}}</td>
            <td>{{aggregatedConsultant.consultant.voorNaam}}</td>
            <td>Van {{aggregatedConsultant.contract.startDatum}} Tot {{aggregatedConsultant.contract.eindDatum}}</td>
            <td>{{aggregatedConsultant.contract.businessUnit.naam}}</td>
            <td>
                <table class="table">
                    <tr ng-repeat="akkoord in aggregatedConsultant.akkoorden">
                        <td>{{akkoord.opdracht.locatie}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table">
                    <tr ng-repeat="akkoord in aggregatedConsultant.akkoorden">
                        <td>{{akkoord.opdracht.klant}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table">
                    <tr ng-repeat="akkoord in aggregatedConsultant.akkoorden">
                        <td>{{akkoord.akkoord.informeelStartDatum}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table">
                    <tr ng-repeat="akkoord in aggregatedConsultant.akkoorden">
                        <td>{{akkoord.akkoord.informeelEindDatum}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <timeline data="aggregatedConsultant"></timeline>

    <br />
    <hr />
    <br />

</div>


<!--        <td >
<table class="table">
<tr ng-repeat="akkoord in planningCtrl.aggregatedAkkoorden">
<td>{{akkoord.businessUnit.naam}}</td>
</tr>
</table>
</td>

-->
