<h1>Planning</h1>

<p>Onderstaande planningen zijn gekend in het systeem:</p>

<div ng-repeat="aggregatedConsultant in planningCtrl.aggregatedConsultants">

    <table class="table table-hover" >
        <tr>
            <th>Naam</th>
            <th>Voornaam</th>
            <th>Contract</th>
            <th>Business unit </th>
            <th>Project code </th>
            <th>Klant</th>
        </tr>
        <tr>
            <td>{{aggregatedConsultant.consultant.familieNaam}}</td>
            <td>{{aggregatedConsultant.consultant.voorNaam}}</td>
            <td>Van {{planningCtrl.consultant.startDatum}} Tot {{planningCtrl.consultant.eindDatum}}</td>
            <td>{{aggregatedConsultant.contract.businessUnit}}</td>
            <td>
                <table class="table">
                    <tr ng-repeat="akkoord in aggregatedConsultant.akkoorden">
                        <td>{{akkoord.akkoord.projectCode}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table">
                    <tr ng-repeat="akkoord in aggregatedConsultant.akkoorden">
                        <td>{{akkoord.opdracht.klant}}</td>
                    </tr>
                </table>
            </td>
            <td>
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{aggregatedConsultant.consultant.id}}">+</button>

            </td>
        </tr>
    </table>
    <div id="{{aggregatedConsultant.consultant.id}}" class="collapse">
    <timeline data="aggregatedConsultant"></timeline>
    </div>

    <hr />




</div>


<!--        <td >
<table class="table">
<tr ng-repeat="akkoord in planningCtrl.aggregatedAkkoorden">
<td>{{akkoord.businessUnit.naam}}</td>
</tr>
</table>
</td>

-->
